fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
boto3
python-dotenv
python-magic
python-multipart
pillow
celery[redis]
redis
pydantic[email]
python-jose[cryptography]
bcrypt<4.0.0
passlib[bcrypt]